// Обнуление стилей, подключение переменных

@import "nullstyle";
@import "var";

// _____________________


// Подключение шрифтов

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Work+Sans:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Work+Sans:wght@400;500;700;800&display=swap');

// _____________________

body { 
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    letter-spacing: 0em;
    text-align: left;
    color: $white;
    background: $black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

[class*="__conteiner"] {
    @extend %conteiner;
    padding: 0 20px;
}

.main {
    flex: 1 1 auto;
}

@media screen and (max-width: ($md1_1 + px)) {
    [class*="__conteiner"] {
        padding: 0 15px;
    }
}